
@font-face {
    font-family: JosefinSans;
    src: 
    url("fonts/JosefinSans-Bold.ttf");
}

@font-face {
    font-family: Roboto;
    src: 
    url("fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Figtree;
    src: 
    url("fonts/Figtree-SemiBold.ttf");
}

@font-face {
    font-family: Poppins;
    src: 
    url("fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: Poppins-SemiBold;
    src: 
    url("fonts/Poppins-SemiBold.ttf");
}

body {
    background-color: rgb(74, 63, 53); /* gray rgba(0, 0, 0, 0.425) nebo rgb(150, 126, 118) */
    color: #fff;
    margin: 0;
    font-family:Roboto, Poppins, Poppins-SemiBold, serif, Arial, Helvetica, sans-serif;
    font-size: 100%;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1920px;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.25);
}

/* Navigace */
.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-menu li {
    margin: 0 15px;
    padding: 5px 0; 
}

.navbar-menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 16px;
}

.navbar-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

.navbar-menu li a:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

.navbar-menu li a:active {
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 4px;
}

.navbar-toggle {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    margin: 4px 0;
    background-color: #fff;
    border-radius: 1px;
}

.navbar-menu-stanek {
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    left: 0;
    z-index: 999;
}

.navbar-stanek {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-menu-stanek li {
    margin: 0 15px;
    padding: 5px 0; 
}

.navbar-menu-stanek li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 16px;
}

.navbar-menu-stanek li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

.navbar-menu-stanek li a:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

.navbar-menu-stanek li a:active {
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 4px;
}

.anchor {
    position: relative;
    display: block;
    margin-top: -60px; /* Výška navigace */
    padding-top: 60px; /* Kompenzace pro margin */
    visibility: hidden;
}

/* Grid Container */
.grid-container {
    max-width: 1920px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    margin: 0;
}

.grid-container-wide {
    max-width: 1920px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.25);
   }

.article {
    padding: 30px;
    box-sizing: border-box; /* Zahrne border do celkové šířky */
}

.article p {
    text-align: left;
}

.article li {
    list-style-type: none;   
    line-height: 3em;
    font-size: 150%;
}

.article-wide {
    padding: 30px;
    box-sizing: border-box; /* Zahrne border do celkové šířky */
}

.article-wide p {
    text-align: center;
    margin: 0px 5%;
    margin-bottom: 20px;
    line-height: 150%;
    
}

.article-wide h2 {
    text-align: center;
}

.article-image {
    box-sizing: border-box; /* Zahrne border do celkové šířky */
}

.article-image-wide {
    box-sizing: border-box; /* Zahrne border do celkové šířky */
    overflow: hidden;
    height: auto; 
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.article-image img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    /* transform: scale(0.7); /* Zmenší obrázek na 70 % */
    /* transform-origin: center; /* Zajistí, že zmenšení bude z centra obrázku */
}


h1 {
    margin-top: 0;
}

h2 {
    margin-top: 0;
    font-family: Poppins-SemiBold;
    font-size: 4.2rem;
}

h3 {
    margin-top: 0;
    font-family: Poppins-SemiBold;
    font-size: 2.5rem;
}

p {
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 150%;
}

/* Billboard */
.billboard {
    position: relative;
    overflow: hidden;
    height: auto; /* výška billboardu */
    display: flex;
    align-items: center;
    justify-content: center;
}


.image-billboard {
    height: 100%;
    overflow-y: hidden;
    object-fit: cover;
}

.desktop-image,
.tablet-image,
.mobile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.desktop-image {
    display: block;
}

.tablet-image,
.mobile-image {
    display: none;
    width: 100%;
    height: auto;
    object-fit: cover;
    }

.overlay-billboard {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 33%;
    background-color: rgba(0, 0, 0, 0.425);
    /* height: 100%;
    background: linear-gradient(#00000000, #000000dc); */
}

.billboard h1 {
    position: absolute;
    top: 66%;
    font-size: 8vw; /* Škálovatelná velikost pro větší displeje */
    color: #fff;
    font-family: Poppins;
    text-align: center;
    text-wrap: nowrap;
    z-index: 2;
    
}

/* Sekce */
.intro {
    padding: 30px;
    margin: 0;
    text-align: center;
}

.intro p {
    text-align: center;
    margin: 0px 5%;
    margin-bottom: 20px;
    line-height: 150%;
}   


.kontaktni-formular {
   /* border: 2px solid #fff; */
    padding: 30px;
    width: auto;
    text-align: left;
}

.kontakty-header h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 8px;
}

.kontaktni-formular h3 {
    text-align: left;
    color: #fff;
    font-size: 2.5rem;
    font-family: Poppins-SemiBold;
    margin-bottom: 20px;
}

.kontaktni-formular form {
    display: flex;
    flex-direction: column;
}

.kontaktni-formular label {
    color: #fff;
    margin-bottom: 8px;
}

.kontaktni-formular input, 
.kontaktni-formular textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 90%;
    box-sizing: border-box;
}

.kontaktni-formular-pravo {
    position: absolute;
    
}

.kontaktni-formular textarea {
    height: 100px;
    resize: vertical; /* Umožní zvětšování výšky podle obsahu */
}

.kontaktni-formular button {
    background-color: #FA7D09;
    color: black;
    border: none;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 12px;
    display: block;
    border-radius: 4px;
}


.kontaktni-formular button:hover {
    background-color: #FF4301;
}

.cta-box {
    /* border: 2px solid #fff; */
     padding: 30px;
     width: auto;
     text-align: center;
 }

.cta-button {
    background-color: #FA7D09;
    color: black;
    border: none;
    padding: 25px 30px; 
    font-size: 25px;
    cursor: pointer;
    display: inline-block; /* Omezí šířku na obsah */
    border-radius: 4px;
    text-decoration: none; /* Odstraní podtržení odkazu */
    text-align: center;
    margin: 0 auto; /* Zarovnání na střed */
}

.cta-button a {
    color: black;
}

.cta-button:hover {
    background-color: #FF4301;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none; /* Skryté ve výchozím stavu */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Obsah pop-up okna */
.popup-content {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
}

.popup-content button {
    background-color: #FA7D09;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 15px;
}

.popup-content button:hover {
    background-color: #FF4301;
}

.portret-profile {
    display: flex; 
    flex-direction: row; 
    gap: 20px; 
    margin-right: 40px;
    margin-top: 40px;
    align-items: center;
}

.portret-background img {
    width: 100px; 
    height: 100px;
    background-color: #fff; /* Bílé pozadí */
    border: 2px solid #fff; /* Tmavší rámeček */
    border-radius: 50%; /* Kulatý tvar pozadí */
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}


/* Styl pro galerii */
.gallery-trigger {
    position: relative;
    text-align: center;
    object-fit: cover;
    margin: 0;
}

.gallery-controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.gallery-icon {
    margin: 0 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: contain;
}

/* Styl pro overlay */
.gallery-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: none; /* Skryté, dokud se neotevře */
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.overlay-content {
    text-align: center;
}

.close-overlay {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px 10px 6px 10px;
    border-radius: 50%;
    object-fit: contain;
}

.gallery-controls-overlay {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}



/* Footer design */

.footer {
    background-color: rgba(0, 0, 0, 0.514);
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    gap: 0;
    margin: 0;
    padding: 30px;
    box-sizing: border-box;
    justify-content: space-evenly;
}

.footer section {
    display: flex; /* Přidáno display: flex */
    flex-direction: row; /* Uspořádání ikon vedle sebe */
    gap: 20px; /* Mezera mezi ikonami */
}

.footer-icon {
    display: flex;
    margin: 15px;
}

.icon-background {
    width: 48px; /* Velikost pozadí kolem ikony */
    height: 48px;
    background-color: #fff; /* Bílé pozadí */
    border: 2px solid #333; /* Tmavší rámeček */
    border-radius: 50%; /* Kulatý tvar pozadí */
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.icon-background img {
    width: 24px; /* Velikost samotné ikony */
    height: 24px;
}

.footer-icon p {
    color: #fff;
    margin-top: 5px;
    font-size: 14px;
}

.vystoupeni-mobile {
    display: none;
}

.vystoupeni-tablet {
    display: none;
}

.vystoupeni-desktop {
    display: block;
}

.icon-link {
    display: inline-block; /* Zajistí, že celý obsah odkazu je klikací */
    text-decoration: none; /* Odstraní podtržení odkazu */
    color: inherit; /* Převezme barvu z okolního stylu */
}

.icon-link:hover .icon-background {
    background-color: rgba(255, 255, 255, 0.8); /* Zvýrazní pozadí ikony */
    border-color: #FA7D09; /* Zvýrazní rámeček */
}


/* Responsivní design */
/* tablet */
@media (max-width: 880px) {
    /* Přechod pro tablet */
    .grid-container {
        grid-template-columns: 1fr;
    }

    .desktop-image {
        display: none;
    }

    .vystoupeni-tablet {
        display: block;
    }

    .vystoupeni-mobile {
        display: none;
    }

    .vystoupeni-desktop {
        display: none;
    }

    .tablet-image {
        display: block;
    }

    .mobil-image {
        display: none;
    }

    .billboard h1 {
        position: absolute;
        top: 75%;
        font-size: 10vw; /* Škálovatelná velikost pro větší displeje */
        color: #fff;
        font-family: Poppins;
        text-align: center;
        text-wrap: nowrap;
        z-index: 2;
        
    }

    p {
        color: #fff;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 150%;
    }

    .article-wide p {
        text-align: center;
        margin: 0px 5%;
        margin-bottom: 20px;
        line-height: 150%;      
    }

    .intro p {
        text-align: center;
        margin: 0px 5%;
        margin-bottom: 20px;
        line-height: 150%;
    }

    .kontaktni-formular input, 
    .kontaktni-formular textarea {
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        width: 100%;
        box-sizing: border-box;
    }
    
}

/* mobile */
@media (max-width: 600px) {
    .navbar {
        justify-content: space-between; /* Přepne zpět na space-between pro zobrazení tlačítka a menu */
    }

    p {
        color: #fff;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 150%;
    }

    h2 {
        margin-top: 0;
        font-family: Poppins-SemiBold;
        font-size: 3rem;
    }

    .article-wide p {
        text-align: left;      
    }

    .intro p {
        text-align: left;
    }

    .vystoupeni-desktop {
        display: none;
    }

    .vystoupeni-tablet {
        display: none;
    }

    .vystoupeni-mobile {
        display: flex;
        flex-direction: column;
    }

    .navbar-menu {
        display: none; /* Skryjeme navigaci na mobilních zařízeních */
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 54px;
        left: 0;
        z-index: 999;
    }

    .navbar-menu.open {
        display: flex;
        padding: 10px 0;
    }

    .navbar-toggle {
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        margin: 4px 0;
        background-color: #fff;
        border-radius: 1px;
    }

   
    .grid-container {
        grid-template-columns: 1fr;
    }

    .tablet-image {
        display: none;
    }

    .desktop-image {
        display: none;
    }

    .mobile-image {
        display: block;
        width: 100%;
        height: auto;
    }

    .billboard h1 {
        position: absolute;
        top: 70%;
        font-size: 12vw; /* Škálovatelná velikost pro větší displeje */
        color: #fff;
        font-family: Poppins;
        text-align: center;
        text-wrap: wrap;
        z-index: 2;
        
    }

    .kontaktni-formular input, 
    .kontaktni-formular textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}




 /* navigace */
    .navbar ul {
        flex-direction: column; /* Drop-down styl pro mobilní zařízení */
        align-items: center;
    }

    .navbar ul li {
        margin: 5px 0;
    }
}

@media (min-width: 2048px) {
    .billboard h1 {
        position: absolute;
        top: 65%;
        font-size: 7vw; /* Škálovatelná velikost pro větší displeje */
        color: #fff;
        font-family: Poppins;
        text-align: center;
        text-wrap: nowrap;
        z-index: 2;
    }
}
